body {
  margin: 0;
  font-family: 'Avenir next', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 4px;
  word-spacing: 20px;
}


a {
  color: none;
  text-decoration: none;
}
